/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: #333;
  color: black;
  padding: 10px;
}

header nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}


.hero {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
              url('images/pexels-simone-coltri-14865557-6317420.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #FFFFFF;
  text-align: center;
  min-height: 300px;
  padding: 150px 0;
  font-family: 'Playfair Display', serif;
}


.placeholder {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 40px 0;
    max-width: 800px; /* Limits section width */
    margin: 0 auto; /* Centers the section */
}

.image-container {
    width: 100%;
    max-width: 600px; /* Set a maximum width for the image */
    margin: 0 auto; /* Center the image horizontally */
    overflow: hidden; /* Prevents overflow issues */
}

.responsive-img {
    width: 100%; /* Image will be responsive within the container */
    height: auto; /* Keeps aspect ratio */
    display: block; /* Removes extra space */
}


.hero h1 {
  font-size: 88px;  
  margin-bottom: 3px;  /* Adjust space below the h1 */
}

.hero b {
  font-size: 28px;  
  margin-top: 0;  
  margin-bottom: 10px;  
}

section {
  padding: 40px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

/* Gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
}

/* Contact Form */
.contact-form form {
  max-width: 600px;
  margin: auto;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.contact-form button {
  background-color: #333;
  color: white;
  padding: 10px 

.amenities {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0px 0;
    margin: 0 auto;
    position: relative; /* Keep relative positioning */
    width: 100%; 
    max-width: 1200px; 
    box-sizing: border-box;
}


.image-container-amenities {
    width: 100%; 
    margin: 0;
}

<!--
.image-container-amenities img {
    width: 100%; /* Make sure the image fills its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
} -->









	





